<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <main class="main">
    <%- body %>
  </main>
  <%- partial('_partial/footer') %>
  <%- js('js/theme.js') %>
</body>

</html>